ADAT/UD2/A2UD2_MigueldelRioMartinez/Actores.dtd

<!ELEMENT Actores (Actor)*>
<!ATTLIST Actores xmlns:xsi CDATA #REQUIRED>
        <!ELEMENT Actor (Nome|Sexo|DataNacemento)*>
        <!ATTLIST Actor id CDATA #REQUIRED>
        <!ELEMENT Nome (#PCDATA)>
        <!ELEMENT Sexo (#PCDATA)>
        <!ELEMENT DataNacemento (#PCDATA)>
        <!ATTLIST DataNacemento formato CDATA #REQUIRED>